<header align="center">
  <%= button_to "Home", root_path, method: :get %>
</header>
<div align="center">
  <h1>Pokémon...gotta catch em all!</h1>
</div>

<div align="center" class="result-box">
    <%= image_tag "#{@pokemon.image}"%>
    <%= image_tag "#{@pokemon.shiny}"%>
</div>


<%= form_tag '/pokemon', method: :get do %>
  <div align="center" class="search-box">
  <p>Name: <%=@pokemon.name.capitalize%></p>
  <p>Type: <%=@pokemon.origin.capitalize%></p>
  <p>Number: <%= @pokemon.id %></p>

  <h2>Search for Another Pokemon</h2>
    <%= text_field_tag :pokemon %>
    <%= submit_tag "Search" %>
    </div align="center">
  <% end %>
  </div>

